/*---------------------------------------------- 
  GuitarSpeak global stylesheet
*/


/*---------------------------------------------- 
	Overall
*/
body {
	margin:0;
  font:Georgia,Times New Roman,Serif;
  }
a:link {
  color:#EEEEEE;
  text-decoration:none;
  }
a:visited {
  color:#EEEEEE;
  text-decoration:none;
  }
a:hover {
  color:#CCFFCC;
  text-decoration:underline;
  }
a img {
  border-width:0;
  }
img {
	border-width:0px;
}
  

.standard
{
	background:#FFFFEE;
}
  
.splash
{
  color:#DDDDDD;
  background:#004D41;
  padding:40px 20px;
  text-align:center;
}

#logo-splash
{
	vertical-align:center;
	padding:200px 0px 0px 0px;
}

#logo-splash a
{
  text-transform:uppercase;
  font-family:arial,helvetica;
  font-size:120%;
  letter-spacing:.3em;
}

#logo-splash a:hover 
{
  color:#CCFFCC;
  text-decoration:none;
}








#wrap
{
	padding:0px;
	margin:0px;
	min-width:1024px;
	width:1024px;
	
}

#header
{
  color:#EEEEEE;
	padding:10px 10px 10px 5px;
	margin:0;
  background:#9999DD;
	height:30px;
	width:100%;
	font-family:Georgia,Times New Roman,serif;
	min-width:968px;
	width:968px; 
}

#header-logo
{ 
	float:left;
	padding-left:0px;
}

#header-caption
{ 
	position:relative;
	top:15%;
	text-align:center;
	vertical-align:center;
	font-weight:bold;
}


#sidebar
{
  font-family:Georgia,Times New Roman,serif;
	padding:10px;
	margin:0px;
  color:#444400; 
	background:#AAAAFF;
	width:30px; 
	min-height:768px;
	height:768px;
	/* min-height:100%; */
	float:left;
	font-size:120%;
}

#sidebar a:link
{
  color:#444400; 
}

#sidebar a:visited
{
  color:#444400; 
}

#sidebar a:hover
{
  color:#444400;
  text-decoration:underline; 
}

#photo-bar
{
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float:right;
	text-align:right;
}

.client-photo
{
	margin:5px 0px 5px 20px;
	width:100px;
	border: 2px solid #000000;	
}

.inline-image
{
	float:left;
	position:relative;
	margin:7px 10px 0px 7px;
	display:inline;
}

.inline-image-caption
{
	font-size:75%;
	font-style:italic;
	text-align:center;
}

#callout-bar
{
	padding: 5px 0px 0px 30px;
	margin: 0px 0px 0px 0px;
	float:right;
	text-align:right;
	font-size:75%;
}




#footer-text
{
	float:right;
  color:#444400;
  font-family:Georgia,Times New Roman,serif;
	padding:20px;
	margin:20px;
  background:#FFFFEE;
	font-size:75%;
	font-style:italic;
	text-align:center;
	clear:main;
}

#sidebar-menu
{
	margin-top:15px;
}

#principal-photo
{
	padding: 6px 12px 0px 0px;
	float:left;
}

#main
{
  color:#444400;
  font-family:Georgia,Times New Roman,serif;
	padding:20px;
	margin:0px;
  background:#FFFFEE;
	font-size:100%;
	width:720px; 
	float:left; 
}


#main h2
{
	font-size:100%;
}

#main p
{
	margin-right:10px;
}

.box
{
	
	border-width:1px;
	border-style:solid;
	padding:2px;
	margin:2px;
}


  
